<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>assignment</mat-icon>
    </button>
    <span>Scrum Board</span>
    <span class="example-spacer"></span>
    <button routerLink="/board2/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>note</mat-icon>
    </button>
    <button routerLink="/board/" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>featured_play_list</mat-icon>
    </button>

    <a routerLink="/detail/">
        <mat-icon>featured_play_list</mat-icon>
    </a>
</mat-toolbar>